.board {
    overflow-y: hidden;
}
.board .sub-container{
    height: calc(100% / 3);
    width: 100%;
    /* background-color: red; */
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    /* flex-direction: row; */
    flex-wrap: nowrap;
    padding: 5px;
    margin-bottom: 20px;
}
.board .sub-container .sub {
    width: 30%;
    height: 95%;
    border-radius: 4px;
    background-color: var(--focus);
    margin: 10px;
    flex: 0 0 30%;
    /* box-shadow: -4px -4px 4px -4px #000, 4px 4px 4px 4px #ddd; */
    box-shadow: 0px 0px 8px -2px #000;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.hrs {
    font-size: 60px;
}
.sub input {
    width: 50px;
    height: 30px;
    background-color: var(--focus);
    border: none;
    border-bottom: solid 2px var(--p);
    font-size: 25px;
    margin: 0 5px;
    caret-color: var(--p);
}
.sub input:focus {
    outline: none;
}
.add-remove-sec {
    margin-top: 5px;
}
.add-remove {
    display: flex;
    justify-content: center;
}
.add-remove button, .btns {
    width: 40px;
    height: 30px;
    font-size: 30px;
    color: #fff;
    border: none;
    margin: 0 2px;
    border-radius: 4px;
    cursor: pointer;
}
.plus {
    background-color: var(--green);
}
.minus {
    background-color: var(--red);
}

.chart-container {
    height: 40%;
    width: 100%;
    box-shadow: 0 0 8px -2px #000;
    padding: 5px;
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 10px;
}
.column-chart {
    width: 100%;
    height: 100%;
    border-top: solid 2px var(--p);
    border-right: solid 2px var(--p);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    transform: rotate(180deg);
}
.col {
    width: 10%;
    transition: all .3s;
}
.col:nth-child(1) {
    background-color: var(--green);
    height: 00%;
}
.col:nth-child(2) {
    background-color: var(--orange);
    height: 00%;
}
.col:nth-child(3) {
    background-color: var(--red);
    height: 00%;
}
.col:nth-child(4) {
    background-color: var(--yellow);
    height: 00%;
}
.col:nth-child(5) {
    background-color: var(--purple);
    height: 00%;
}
.col:nth-child(6) {
    background-color: var(--pink);
    height: 0%;
}
.col:nth-child(7) {
    background-color: var(--light-blue);
}
.chart-data {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.chart-data .dot {
    margin-right: 10px;
}
.chart-data p:nth-child(1) .dot {
    background-color: var(--green);
}
.chart-data p:nth-child(2) .dot {
    background-color: var(--orange);
}
.chart-data p:nth-child(3) .dot {
    background-color: var(--red);
}
.chart-data p:nth-child(4) .dot {
    background-color: var(--yellow);
}
.chart-data p:nth-child(5) .dot {
    background-color: var(--purple);
}
.chart-data p:nth-child(6) .dot {
    background-color: var(--pink);
}
.chart-data p:nth-child(7) .dot {
    background-color: var(--light-blue);
}

.last-sec {
    width: 100%;
    height: calc(100% - 40% - (100% / 3) - 20px);
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    margin-top: 5px;
    box-sizing: border-box;
}
.analysis {
    background-color: var(--main);
    /* box-shadow: 0 0 8px -2px #000; */
    padding: 10px;
    text-align: center;
    border: solid 3px var(--p);
}
.data-list ul {
    width: 70%;
    margin: 12px auto;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px 20px;
}
.data-list ul {
    list-style: none;
}
.data-list ul li {
    margin-bottom: 5px;
    padding: 5px 20px;
    border-radius: 4px;
    cursor: pointer;
    color: var(--headline);
}
/* .sticky {
    background-color: var(--yellow-shadow);
    border-radius: 0% 100% 11% 89% / 92% 0% 100% 8% ;
    box-shadow: 6px 4px 10px -7px #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sticky h2 {
    font-family: cursive;
    color: #2d334a;
} */
.timer {
    border: solid 2px var(--headline);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.timer-btn {
    padding: 5px;
    background-color: var(--green);
    border: none;
    border-radius: 4px;
    color: var(--headline);
    cursor: pointer;
}
.timer-menu {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 900;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.timer-menu input[type="number"] {
    width: 50px;
    height: 25px;
    font-size: 22px;
}
.timer-menu input[type="number"]:focus {
    outline: none;
}
.set-time {
    padding: 10px;
    border-radius: 4px;
    background-color: var(--green);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 22px;
}
.drop {
    top: 0;
}

/* this for visualizations */
.v-nav {
    background-color: var(--focus);
}
.v-dot-col {
    border: solid 2px var(--headline);
    box-shadow: 0 0 8px -2px var(--headline);
}
.v-p {
    text-decoration: underline;
    font-weight: 700;
}

@media screen and (max-width: 660px) {
    .container {
        width: 100%;
        height: fit-content;
        overflow-x: hidden;
    }
    nav, .todo {
        width: 70%;
    }
    nav {
        left: -70%;
    }
    .todo {
        right: -70%;
        display: none;
    }
    .show-t {
        right: 0;
        display: block;
    }
    .board {
        height: fit-content;
    }
    .last-sec {
        display: block;
    }
    .data-list ul li {
        padding: 5px;
    }
    .timer {
        margin-top: 10px;
        height: 100px;
    }
    .board .sub-container .sub {
        width: 60%;
    }
    
}